//
//  Secrets.xcconfig
//  stampd
//
//  Created by Mehdid, Samy Abderraouf on 19.02.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SUPABASE_KEY = sb_publishable_s6OucGiuiIXxIWtyfr0tFA_RJ0hdNPE
SUPABASE_URL = uujlxfdrelrxpxztmydq.supabase.co
